<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Ruxsatlar -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:label="Crypto Bozor"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true">

        <!-- FCM bildirishnomalari uchun standart icon va kanalni sozlash -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" />

        <!-- FCM xizmatlari uchun qo'shimchalar -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Asosiy faoliyat (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Ilovani asosiy sifatida belgilash -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep linklarni qayta ishlash uchun qo'shimcha -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Scheme for ton:// deep links -->
                <data android:scheme="ton" android:host="transfer" />

                <!-- Scheme for https:// deep links -->
                <data android:scheme="https" android:host="app.tonkeeper.com" />
            </intent-filter>
        </activity>

        <!-- Flutter Embedding versioni -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Boshqa ilovalarni yoki funksiyalarni query qilish uchun qo'shimchalar -->
    <queries>
        <!-- Required for Telegram app -->
        <package android:name="org.telegram.messenger" />

        <!-- Required to allow querying for browsers and other handlers of web URLs -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- Required to allow querying for Tonkeeper app -->
        <package android:name="com.tonkeeper" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="ton" />
        </intent>

        <!-- Required to allow querying for Coinbase Wallet -->
        <package android:name="org.toshi" />
    </queries>
</manifest>
